.UserProfile {
  min-height: calc(100vh - 3.5rem);
  background-color: white;
  .UserName {
    padding-top: 20px;
    margin: 0;
    text-align: center;
    color: #fe3c72;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .UserInfo {
    text-align: center;
    margin-top: 20px;
    color: #424242;
    display: block;
    font-size: 1.1rem;
    padding-bottom: 5px;
  }
  .UserPhoto img {
    height: 500px;
    width: 100%;
  }
  .UserDetails {
    margin-left: 10px;
    padding-bottom: 10px;
    p {
      font-size: 2em;
      font-weight: bold;
      margin: 10px 0;
    }
    span {
      color: #424242;
    }
  }
}
