.Actions {
  display: flex;
  justify-content: space-evenly;

  button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    img {
      padding: 10px;
      width: 35px;
      height: 35px;
    }
  }
}
